{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur BakeLink{% endblock %}

{% block body %}
    <h1>Bienvenue sur BakeLink</h1>
    <p>Veuillez vérifier votre e-mail pour activer votre compte.</p>
    <p>Si vous ne trouvez pas l'e-mail de confirmation, pensez à vérifier votre dossier de courrier indésirable.</p>
{% endblock %}
