// Styles corporels - CORRIGÉS
body {
  font-family: $font-family-base;
  color: $dark !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings-font-family;
  color: $primary !important; // brun chocolat
}

p, label {
  color: $dark !important;
}

