{% extends 'base.html.twig' %}

{% block title %}Edit PastryChef{% endblock %}

{% block body %}
    <h1>Edit PastryChef</h1>

    {{ include('pastry_chef/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_pastry_chef_index') }}">back to list</a>

    {{ include('pastry_chef/_delete_form.html.twig') }}
{% endblock %}
