{% extends 'base.html.twig' %}

{% block title %}New Pastry{% endblock %}

{% block body %}
    <h1>Create new Pastry</h1>

    {{ include('pastry/_form.html.twig') }}

    <a href="{{ path('app_pastry_index') }}">back to list</a>
{% endblock %}
